.list_items
	each event in events
		.list_item
			a.item_rm.event(href='#', id=event._id) -- удалить
			a.item_title(href='/admin/events/edit/' + event._id, class=event.status)= (event.i18n.title.get('ru') || '!!! ПУСТОЕ ПОЛЕ !!!')
			if event.pn_alias
				span.item_schedule
					span= ' --> '
					a(href='#', event_id=event._id, alias=event.pn_alias) обновить
			span.item_preview
				span= ' --> '
				a(href='/events/' + (event.sym ? event.sym : event._short_id), target='_blank') превью

.list_counter
	a.list_back(href='#'): b назад
	span= ' - '
	select.list_select
		- var i = 0;
		while i < count
			option(value=i selected= (i == skip / 10) )= i+1
			- i++
	span= ' - '
	a.list_next(href='#'): b вперед