extends ../layout
include ../_forms.pug

block header_meta
	- var content_title= 'РЕДАКТИРОВАТЬ СЛАЙД'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var include_js = ['editor.js', 'add.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/slides') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Сохранить')

block content
	.form_block
		.title= content_title
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Название:
			+form_text_single('title', slide)
			.form_title Описание:
			+form_text_multi('description', slide)
			.form_title Показ текста:
			select(name='body')
				option(value='true', selected=slide.body == true) Вкл.
				option(value='false', selected=slide.body == false) Выкл.
			.form_title Оглавление:
			select(name='contents')
				option(value='true', selected=slide.contents == true) Вкл.
				option(value='false', selected=slide.contents == false) Выкл.
			.form_title Стиль:
			select(name='style')
				option(value='white', selected= slide.style == 'white' && 'white') Белый текст / черный фон
				option(value='black', selected= slide.style == 'black' && 'black') Черный текст / белый фон
			.form_title Затенение фона:
			select(name='holder')
				option(value='true', selected=slide.holder == true) Вкл.
				option(value='false', selected=slide.holder == false) Выкл.
			.form_title Обложка:
			+form_single_file('poster', slide)(accept='image/jpeg,image/png,image/gif')
			.form_title Видео MP4:
			+form_single_file('video', slide)(accept='video/mp4')
			.form_title Файл ZIP/PDF:
			+form_single_file('attach', slide)(accept='application/zip,application/pdf')
			.form_title Файл [описание]:
			+form_text_single('attach_desc', slide)
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden', selected= slide.status == 'hidden' && 'hidden') Скрытый
			.form_title Дата публикации:
			+form_date('date', slide.date)