each event in events
	- var event_date = moment(event.schedule.date)

	.event_item(class='date_' + event_date.get('date'))
		.event_poster(style='background-image: url(' + event.poster + ')')
		.event_body
			.event_head
				.event_date
					.date= event_date.locale(locale).format('DD MMMM')
					.time= event_date.locale(locale).format('HH:mm')
				.event_ticket= __('купить билет')
			a.event_title(href='/events/' + (event.sym ? event.sym : event._short_id))= get_locale(event.title, locale)
			.event_content
				.event_meta
					if event.schedule.premiere
						.event_premiere премьера
					.event_age= event.age
				.event_members
					each group in event.members
						.members_group
							.group_title= get_locale(group.title, locale)
							.group_items
								each member in group.list
									if member.status == 'special'
										span.member_item.disabled= get_locale(member.name, locale)
									else
										a.member_item(href='/team#' + member._short_id)= get_locale(member.name, locale)
			.event_description= get_locale(event.s_title, locale)