each event in events
	- var event_date = moment(event.schedule.date).locale(locale)

	.event_item(class='date_' + event_date.get('date'))
		a.event_poster(class= event.poster_hover ? 'hover' : '', href='/events/' + (event.sym ? event.sym : event._short_id))
			.poster_main(style='background-image: url(' + event.poster + ')')
			if event.poster_hover
				.poster_hover(style='background-image: url(' + event.poster_hover + ')')
		.event_body
			.event_head
				.event_date
					.date= event_date.format('DD MMMM')
					.time= event_date.format('HH:mm')
				if event.pn_alias
					.event_ticket(schedule-alias= event.pn_alias, schedule-date=event_date.format('DD.MM.YYYY HH:mm'), soldout=__('билеты проданы'))= __('купить билет')
			a.event_title(href='/events/' + (event.sym ? event.sym : event._short_id))= get_locale(event.title, locale)
			.event_content
				.event_meta
					if event.schedule.premiere
						.event_premiere= __('премьера')
					.event_age= event.age
				.event_members
					each group in event.members
						.members_group
							.group_title= get_locale(group.title, locale)
							.group_items
								each member in group.list
									if member.status == 'special'
										.member_item= get_locale(member.name, locale)
									else
										a.member_item(href='/team#' + member._short_id)= get_locale(member.name, locale)
			.event_description= get_locale(event.s_title, locale)