if events && events.length > 0
	.context_column.events
		.context_title= __('спектакли')
		.context_results
			each event, i in events
				a.result_item(class= i > 1 ? 'hidden' : '', href='/events/' + (event.sym ? event.sym : event._short_id))
					.item_poster(style='background-image: url(' + event.poster + ')')
					.item_title!= event.i18n.title.get(locale)
			if events.length > 2
				.results_holder= __('еще') + ' ' + (events.length - 2) + '...'

if members && members.length > 0
	.context_column.members
		.context_title= __('команда')
		.context_results
			each member, i in members
				a.result_item(class= i > 3 ? 'hidden' : '', href='/team#' + member._short_id)
					.item_photo(style='background-image: url(' + member.photo_preview + ')')
					.item_roles
						each role in member.roles
							.role= __n(static_types.members_roles[role][member.sex], 1)
					.item_name!= member.i18n.name.get(locale)
			if members.length > 4
				.results_holder= __('еще') + ' ' + (members.length - 4) + '...'