doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		script(type='text/javascript', src='http://w.cultserv.ru/v2.2/public/js/widgetloader.js')
	body
		#pn_widget(style='width: 100%; height; 100%;', data-ref=ref, data-alias=alias, data-date=date, data-time=time)
		script.
			pnwidget.init({ containerId: 'pn_widget' });
		script.
			var pn_widget = document.getElementById('pn_widget');
			pnwidget.show({
				exclude_dates: false,
				scrollToWidget: false,
				closeButton: false,
				hideHeader: true,
				referral_auth: pn_widget.getAttribute('data-ref'),
				event: {
					alias: pn_widget.getAttribute('data-alias'),
					date: pn_widget.getAttribute('data-date'),
					time: pn_widget.getAttribute('data-time')
				}
			});