extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('о театре')
	- var content_description= ''
	- var content_style = slides && slides.length && slides[0].style

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['about.css']
	- var include_libs_js = ['swiper.min.js']
	- var include_js = ['about.js']


block content
	.slider_block.swiper-container
		.swiper-wrapper
			each slide in slides
				if slide.poster
					.slide_item.swiper-slide(id=slide._id, data-style=slide.style, style='background-image: url( ' + slide.poster + ' )'): .slide_holder
						if slide.body
							.slide_body
								.slide_title= slide.i18n.title.get(locale)
								.slide_desc!= slide.i18n.description.get(locale)
				else
					.slide_item.swiper-slide(id=slide._id, data-style=slide.style)
						if slide.body
							.slide_body
								.slide_title= slide.i18n.title.get(locale)
								.slide_desc!= slide.i18n.description.get(locale)

		.swiper-button-next.swiper-button-white
		.swiper-button-prev.swiper-button-white
		.swiper-button-next.swiper-button-black
		.swiper-button-prev.swiper-button-black

		.swiper-pagination.swiper-pagination-white
		.swiper-pagination.swiper-pagination-black

	.slider_navigate
		each slide in slides
			if (slide.contents)
				.navigate_item(slide-id=slide._id)= slide.i18n.title.get(locale)