extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('контакты')
	- var content_description= ''

block header_include
	- var include_css = ['contacts.css']
	- var include_ext_js = ['https://maps.googleapis.com/maps/api/js?key=AIzaSyDkr2WFD1js1vOwpY8nc58N6jNkjzUv2aA&language=' + locale]
	//- - var include_ext_js = ['https://maps.googleapis.com/maps/api/js?key=AIzaSyC7n_pR2zuaOwELGCsE8QVkq-trzPnWb10&language=' + locale]
	- var include_js = ['contacts.js', 'g_maps.js']


block content
	.map_block#map-canvas(data-placeholder= __('Большой Козихинский<br>переулок 30').replace('<br>', ' '))

block under
	.contacts_block: .contacts_inner
		.column
			.title= __('адрес')
			.value
				span!= __('Большой Козихинский<br>переулок 30') + ', ' + __('метро') + ': '
				span= __('«Маяковская»') + ', ' + __('«Пушкинская»')
		.column
			.title= __('касса театра') + ' ' + '11:00 – 21:00'
			.value
				div: a(href='tel:+7 (495) 544-55-45') +7 495 544-55-45
				div: a(href='mailto:suraeva@praktikatheatre.ru') suraeva@praktikatheatre.ru
		.column
			.title= __('руководитель пресс-службы')
			.value
				div= __('Егор Хлыстов')
				div: a(href='mailto:pr@praktikatheatre.ru') pr@praktikatheatre.ru
				div: a(href='tel:+7 (917) 584-80-66') +7 917 584-80-66
		.column
			.title= __('администрация') + ' ' + '10:00 – 18:00'
			.value
				div: a(href='tel:+7 (495) 258-55-65') +7 495 258-55-65
				div: a(href='mailto:info@praktikatheatre.ru') info@praktikatheatre.ru