extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('контакты')
	- var content_description= ''

block header_include
	- var include_css = ['contacts.css']
	- var include_ext_js = ['https://maps.googleapis.com/maps/api/js?sensor=false']
	- var include_js = ['contacts.js', 'g_maps.js']


block content
	.map_block#map-canvas(data-placeholder= __('Большой Козихинский<br>переулок 30').replace('<br>', ' '))
	.contacts_block: .contacts_inner
		.column
			.title= __('адрес')
			.value
				div!= __('Большой Козихинский<br>переулок 30') + ', ' + __('метро') + ':'
				div= __('«Маяковская»') + ', ' + __('«Пушкинская»')
		.column
			.title= __('касса театра') + ' ' + '11:00 – 21:00'
			.value
				div: a(href='tel:+7 (495) 544-55-45') +7 495 544-55-45
				div: a(href='mailto:tickets@praktikatheatre.ru') tickets@praktikatheatre.ru
		.column
			.title= __('PR-директор')
			.value
				div= __('Арина Светлица')
				div: a(href='mailto:as@praktikatheatre.ru') as@praktikatheatre.ru
				div: a(href='tel:+7 (916) 902-64-61') +7 916 902-64-61
		.column
			.title= __('запись для студентов')
			.value
				div= __('Дарья Панина')
				div: a(href='mailto:podushka@praktikatheatre.ru') podushka@praktikatheatre.ru