extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('контакты')
	- var content_description= ''

block header_include
	- var include_css = ['contacts.css']
	- var include_ext_js = ['https://maps.googleapis.com/maps/api/js?key=' + static_keys.google_api_key + '&language=' + locale]
	//- - var include_ext_js = ['https://maps.googleapis.com/maps/api/js?key=AIzaSyC7n_pR2zuaOwELGCsE8QVkq-trzPnWb10&language=' + locale]
	- var include_js = ['contacts.js', 'g_maps.js']


block content
	.map_block#map-canvas(data-placeholder= __('Большой Козихинский<br>переулок 30').replace('<br>', ' '))
	//- .map_block#map-canvas(data-placeholder= __('Зубовский бульвар, дом 2, корпус 3, Аудитория Музея&nbsp;Москвы'))

block under
	.contacts_block
		.contacts_upper
		.contacts_inner

			.contacts_group.main
				.column
					.title= __('адрес')
					.value
						span!= __('Большой Козихинский<br>переулок 30') + ', ' + __('метро') + ': '
						span!= __('«Маяковская»') + ', ' + __('«Пушкинская»') + ' '
						span!= __('Зубовский бульвар, дом 2, корпус 3, Аудитория Музея&nbsp;Москвы') + ',&nbsp;' +  __('метро') + ':<br>' + __('«Парк&nbsp;культуры»')
				//- .column
				//- 	.title= __('заведующая литературной частью')
				//- 	.value
				//- 		div= __('Анна Банасюкевич')
				//- 		div: a(href='mailto:zavlit@praktikatheatre.ru') zavlit@praktikatheatre.ru
				.column
					.title!= __('билеты') + '<br>' + '11:00 – 18:00'
					.value
						div: a(href='tel:+7 (995) 030-04-41') +7 995 030-04-41
						div: a(href='mailto:tickets@praktikatheatre.ru') tickets@praktikatheatre.ru
				.column
					//- .title= __('пресс-служба')
					.title= __('PR-директор')
					.value
						div= __('Елена Шапкина')
						div: a(href='mailto:pr@praktikatheatre.ru') pr@praktikatheatre.ru
						//- div: a(href='tel:+7 (926) 231-10-60') +7 926 231-10-60

				//- .column
				//- 	.title= __('администрация') + ' ' + '10:00 – 18:00'
				//- 	.value
				//- 		div: a(href='tel:+7 (495) 640-65-64') +7 495 640-65-64
				//- 		div: a(href='mailto:info@praktikatheatre.ru') info@praktikatheatre.ru

			.contacts_group.drop
				.column
					.title= __('партнёрские программы')
					.value
						//- div= __('Анастасия Карцева')
						div= __('Вероника Устимук')
						div: a(href='mailto:friends@praktikatheatre.ru') friends@praktikatheatre.ru
				.column
					.title= __('главный администратор')
					.value
						div= __('Полина Филатова')
						div: a(href='mailto:admin@praktikatheatre.ru') admin@praktikatheatre.ru
						div: a(href='tel:+7 (915) 030-04-41') +7 915 030-04-41
				.column
					.title= __('директор')
					.value
						div= __('Елена Кузьмакова')
						div: a(href='mailto:info@praktikatheatre.ru') info@praktikatheatre.ru
				.column
					.title= __('художественный руководитель')
					.value
						div= __('Марина Брусникина')
						div: a(href='mailto:info@praktikatheatre.ru') info@praktikatheatre.ru

