extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('контакты')
	- var content_description= ''

block header_include
	- var include_css = ['contacts.css']
	- var include_ext_js = ['https://maps.googleapis.com/maps/api/js?key=' + static_keys.google_api_key + '&language=' + locale]
	//- - var include_ext_js = ['https://maps.googleapis.com/maps/api/js?key=AIzaSyC7n_pR2zuaOwELGCsE8QVkq-trzPnWb10&language=' + locale]
	- var include_js = ['contacts.js', 'g_maps.js']


block content
	.map_block#map-canvas(data-placeholder= __('Большой Козихинский<br>переулок 30').replace('<br>', ' '))
	//- .map_block#map-canvas(data-placeholder= __('Зубовский бульвар, дом 2, корпус 3, Аудитория Музея&nbsp;Москвы'))

block under
	.contacts_block
		.contacts_upper
		.contacts_inner

			.contacts_group.main
				.column
					.title= __('адрес')
					.value
						span!= __('Большой Козихинский<br>переулок 30') + ', ' + __('метро') + ': '
						span!= __('«Маяковская»') + ', ' + __('«Пушкинская»') + ' '
						span!= __('Зубовский бульвар, дом 2, корпус 3, Аудитория Музея&nbsp;Москвы') + ',&nbsp;' +  __('метро') + ':<br>' + __('«Парк&nbsp;культуры»')
				.column
					//- .title= __('пресс-служба')
					.title= __('PR-директор')
					.value
						div= __('Елена Шапкина')
						//- div: a(href='mailto:pr.praktika@culture.mos.ru') pr.praktika@culture.mos.ru
						div: a(href='mailto:ShapkinaEA@culture.mos.ru') ShapkinaEA@culture.mos.ru
						//- div: a(href='tel:+7 (926) 231-10-60') +7 926 231-10-60
				.column
					.title!= __('билеты') + '<br>' + '11:00 – 18:00'
					.value
						//- div: a(href='tel:+7 (995) 030-04-41') +7 995 030-04-41
						div: a(href='tel:+7 (495) 609-09-30') +7 495 609-09-30 (доб.107)
						//- div: a(href='tel:+7 (495) 609-09-10') +7 495 609-09-10
						div: a(href='mailto:tickets.praktika@culture.mos.ru') tickets.praktika@culture.mos.ru
				.column
					.title= __('литературная часть')
					.value
						div= __('Анна Юсина')
						div: a(href='mailto:TSRY-zavlit.praktika@culture.mos.ru') TSRY-zavlit.praktika@culture.mos.ru
				.column
					//- .title= __('администрация') + ' ' + '10:00 – 18:00'
					.title= __('администрация')
					.value
						div: a(href='tel:+7 (495) 609-09-30') +7 495 609-09-30
						//- div: a(href='mailto:teatrpraktika@culture.mos.ru') teatrpraktika@culture.mos.ru

			.contacts_group.drop
				.column
					.title= __('партнёрские программы')
					.value
						//- div= __('Анастасия Карцева')
						//- div= __('Вероника Устимук')
						div= __('Михаил Макаричев-Энгельс')
						div: a(href='mailto:MakarichevEngelsMY@culture.mos.ru') MakarichevEngelsMY@culture.mos.ru
				.column
					.title= __('главный администратор')
					.value
						//- div= __('Полина Филатова')
						//- div= __('Евгения Ноздрачева')
						div= __('Юлия Курочкина')
						//- div: a(href='mailto:NozdrachevaEA@culture.mos.ru') NozdrachevaEA@culture.mos.ru
						//- div: a(href='mailto:ErmolaevaEA4@culture.mos.ru') ErmolaevaEA4@culture.mos.ru
						//- div: a(href='tel:+7 (915) 030-04-41') +7 915 030-04-41
						div: a(href='mailto:KurochkinaYD@culture.mos.ru') KurochkinaYD@culture.mos.ru
						div: a(href='tel:+7 (915) 030-04-41') +7 915 030-04-41
				.column
					.title= __('директор')
					.value
						div= __('Елена Кузьмакова')
						div: a(href='mailto:teatrpraktika@culture.mos.ru') teatrpraktika@culture.mos.ru
				.column
					.title= __('художественный руководитель')
					.value
						div= __('Марина Брусникина')
						div: a(href='mailto:teatrpraktika@culture.mos.ru') teatrpraktika@culture.mos.ru

