mixin counters_head()
	|<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-59JC9WS');</script>
	|<!-- End Google Tag Manager -->

	|<!-- VK Pixel Code -->
	<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src='https://vk.com/js/api/openapi.js?169',t.onload=function(){VK.Retargeting.Init("VK-RTRG-1621012-9GmRB"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-1621012-9GmRB" style="position:fixed; left:-999px;" alt=""/></noscript>
	|<!-- End VK Pixel Code -->


mixin counters_body_top()
	|<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59JC9WS"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	|<!-- End Google Tag Manager (noscript) -->

	|<!-- Yandex.Metrika counter -->
	<script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(88688954, "init", {clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/88688954" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	|<!-- /Yandex.Metrika counter -->

	|<!-- Intickets Code -->
	<script async src="https://s3.intickets.ru/intickets.min.js"></script>
	|<!-- End Intickets Code -->

	|<!-- Cultura Code -->
	<script src="https://culturaltracking.ru/static/js/spxl.js" data-pixel-id="678"></script>
	|<!-- End Cultura Code -->


mixin counters_body_bottom()
	//- |<!-- Facebook Pixel Code -->
	//- <script> !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '223623998559567'); fbq('track', 'PageView'); </script>
	//- <noscript><img height="1" width="1" style="display:none"src="https://www.facebook.com/tr?id=223623998559567&ev=PageView&noscript=1"/></noscript>
	//- |<!-- End Facebook Pixel Code -->

