extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('репертуар')
	- var content_description= ''

block header_include
	- var include_css = ['events.css']
	//- - var include_js = ['events.js']


mixin event_item(event, style)
	a.event_item(class=style, href='/events/' + (event.sym ? event.sym : event._short_id))
		.event_poster(class= event.poster_hover ? 'hover' : '')
			.poster_main(style='background-image: url(' + event.poster + ')')
			if event.poster_hover
				.poster_hover(style='background-image: url(' + event.poster_hover + ')')
		.event_title!= event.i18n.title.get(locale)
		.event_description!= event.i18n.s_title.get(locale)

block content
	.events_block

		- var e_premieres = events.filter(function(event) { return event.schedule.some(function(item) { return item.date >= Date.now() && item.premiere }) })
		if e_premieres.length > 0
			.events_title= 'премьеры'
			.events_list
				each event in e_premieres
					+event_item(event, 'double')

		- var e_main = events.filter(function(event) { return !e_premieres.some(function(p_event) { return p_event._id.toString() == event._id.toString() }) && event.schedule.some(function(item) { return item.date >= Date.now() }) })
		if e_main.length > 0
			.events_title= 'актуальные'
			.events_list
				each event in e_main
					+event_item(event)

		- var e_archive = events.filter(function(event) { return event.schedule.every(function(item) { return item.date <= Date.now() }) })
		if e_archive.length > 0
			.events_title= 'архив'
			.events_list
				each event in e_archive
					+event_item(event, 'half')