extends layout

block header_meta
	- var content_title= __('практика') + (event.i18n.title.get(locale) ? ' : ' +  event.i18n.title.get(locale).toLowerCase() : '')
	- var content_description = event.i18n.s_title.get(locale)
	- var content_images = [event.poster]
	- var content_style = event.images && event.images.length && event.images[0].style
	- var content_event_id = event._id

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['event.css']
	- var include_libs_js = ['swiper.min.js']
	- var include_js = ['event.js']


block over
	.event_head
		.head_meta
			.event_head_title!= event.i18n.title.get(locale)
			.event_head_s_title!= event.i18n.s_title.get(locale)
		.slider_block.swiper-container
			.swiper-wrapper
				each image in event.images
					.slide_item.swiper-slide(data-style=image.style)
						.slide_image(style='background-image: url(' + image.thumb + ')' )
						if image.holder
							.slide_holder

			if event.images && event.images.length > 1
				.swiper-pagination(class= !schedule.length ? 'no_schedule': '').swiper-pagination-white
				.swiper-pagination(class= !schedule.length ? 'no_schedule': '').swiper-pagination-black

block content
	.widget_block: .widget_inner

	if schedule.length
		.event_schedule: .schedule_outer: .schedule_inner
			if (schedule.some(function(item) { return item.link; }))
				.schedule_ext.all: .item_ticket= __('купить билет')
			else
				.schedule_item.all(schedule-alias= event.w_alias, soldout=__('все') + ' ' + __('билеты проданы')): .item_ticket= __('купить билет')

			each item in schedule
				- var schedule_item = moment(item.date).locale(locale)

				if item.link && item.options == 'link'
					a.schedule_ext.link(href=item.link, rel='nofollow', target='_blank')
						.item_date= schedule_item.format('DD MMMM')
						.item_time= schedule_item.format('dd HH:mm')

				else if item.link && item.options == 'widget'
					.schedule_ext.widget(data-src=item.link)
						.item_date= schedule_item.format('DD MMMM')
						.item_time= schedule_item.format('dd HH:mm')

				else
					if schedule_item.isAfter()
						.schedule_item(schedule-alias= event.w_alias, schedule-date=schedule_item.format('DD.MM.YYYY HH:mm'), soldout=__('билеты проданы'))
							.item_date= schedule_item.format('DD MMMM')
							.item_time= schedule_item.format('dd HH:mm')

	.event_body
		.event_title!= event.i18n.title.get(locale)

		.event_main
			.event_meta
				.meta.age= event.age
				.meta.place= get_locale(event.place, locale)
				.meta.duration= get_locale(event.duration, locale)
			.event_content
				.event_description!= event.i18n.description.get(locale)
				if event.video && event.video.provider
					- var provider_path= event.video.provider == 'youtube' ? 'https://www.youtube.com/embed/' : 'https://player.vimeo.com/video/'
					.event_video: .video_inner: iframe.video(src=provider_path + event.video.id, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

		if event.members && event.members.length
			.event_members: .members_inner
				each group in event.members
					if group.list.length
						.members_group
							.group_title= get_locale(group.title, locale)
							.group_list
								each item in group.list
									if item.status == 'special'
										.list_item= get_locale(item.name, locale)
									else
										a.list_item(href='/team#' + item._short_id)= get_locale(item.name, locale)

		if event.comments && event.comments.length && event.comments[0].member
			.event_comments: .comments_inner
				each comment in event.comments
					if comment.member
						.comment_item
							.comment_column.top
								.column.left: .col_title= get_locale(comment.title, locale)
								.column.right
									.col_photo_mobile(style='background-image: url(' + comment.member.photo_preview + ')')
									if comment.member.status == 'special'
										.col_name= get_locale(comment.member.name, locale)
									else
										a.col_name(href='/team#' + comment.member._short_id)= get_locale(comment.member.name, locale)
							.comment_column.bottom
								.column.left: .col_photo(style='background-image: url(' + comment.member.photo_preview + ')')
								.column.right: .col_description!= get_locale(comment.description, locale)

		if event.partners && event.partners.length
			.event_partners
				.partners_title= __('при участии')
				.partners_list
					each partner in event.partners
						a.partner_item(href=partner.link, target='_blank'): img(src=partner.logo)

		if event.publications && event.publications.length
			.event_publications
				.publications_title= __('пресса')
				.publications_list
					each publication in event.publications
						.publication_item
							a.publication_title(href=publication.link, target='_blank')= get_locale(publication.title, locale)
							.publication_description!= get_locale(publication.description, locale)