extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + event.i18n.title.get(locale)
	- var content_description= event.i18n.description.get(locale)
	- var content_style = event.images && event.images.length && event.images[0].style

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['event.css']
	- var include_libs_js = ['swiper.min.js']
	- var include_js = ['event.js']

block over
	.event_head
		.head_meta
			.event_head_title= event.i18n.title.get(locale)
			.event_head_s_title= event.i18n.s_title.get(locale)
		.slider_block.swiper-container
			.swiper-wrapper
				each image in event.images
					.slide_item.swiper-slide(data-style=image.style)
						.slide_image(style='background-image: url(' + image.thumb + ')' )
						if image.holder
							.slide_holder
			//- .swiper-button-next.swiper-button-white
			//- .swiper-button-prev.swiper-button-white
			//- .swiper-button-next.swiper-button-black
			//- .swiper-button-prev.swiper-button-black

			.swiper-pagination.swiper-pagination-white
			.swiper-pagination.swiper-pagination-black

block content
	.event_schedule
		.schedule_ticket= __('купить билет')
		each item in event.schedule
			.schedule_item
				.item_date= moment(item.date).locale(locale).format('DD MMMM')
				.item_time= moment(item.date).locale(locale).format('dd hh:mm')

	.event_body
		.event_title= event.i18n.title.get(locale)

		.event_main
			.event_meta
				.meta.age= event.age
				.meta.place= get_locale(event.place, locale)
				.meta.duration= get_locale(event.duration, locale)

			.event_description!= event.i18n.description.get(locale)

		.event_members: .members_inner
			each group in event.members
				.members_group
					.group_title= get_locale(group.title, locale)
					.group_list
						each item in group.list
							a.list_item(href='/team#' + item._short_id)= get_locale(item.name, locale)

		.event_comments: .comments_inner
			each comment in event.comments
				.comment_item
					.comment_column.left
						.comment_title= get_locale(comment.title, locale)
						.member_photo(style='background-image: url(' + comment.member.photo + ')')
					.comment_column.right
						.member_name= get_locale(comment.member.name, locale)
						.comment_description!= get_locale(comment.description, locale)

		.event_partners
			.partners_title при участии
			.partners_list
				each partner in event.partners
					a.partner_item(href=partner.link, target='_blank'): img(width='150px', src=partner.logo)

		.event_publications
			.publications_title пресса
			.publications_list
				each publication in event.publications
					.publication_item
						a.publication_title(href=publication.link, target='_blank')= get_locale(publication.title, locale)
						.publication_description!= get_locale(publication.description, locale)