extends layout

block header_meta
	- var content_title= __('практика')
	- var content_description= ''
	- var content_banner = true

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['main.css']
	- var include_libs_js = ['swiper.min.js', 'jquery.cookie.js']
	- var include_js = ['main.js']


block content
	if announce && !announce_hide
		a.announcement_block(href=announce.link, data-id=announce._short_id)
			.announcement_title= announce.i18n.title.get(locale)
			.announcement_s_title= announce.i18n.s_title.get(locale)

	.slider_block.swiper-container
		.swiper-wrapper
			each media in medias
				.slide_item.swiper-slide(data-style=media.style)
					video(autoplay=false, loop=true, muted=false, controls=false, poster=media.poster, src=media.video)
					if media.holder
						.slide_holder

		if medias.length > 1
			.swiper-pagination.swiper-pagination-white
			.swiper-pagination.swiper-pagination-black