extends layout

block header_meta
	- var content_title= __('практика')
	- var content_description= ''
	- var content_images = [medias && medias.length && medias[0].poster]
	- var content_banner = true
	- var content_footer_hidden = false

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['main.css']
	- var include_libs_js = ['swiper.min.js', 'js.cookie.js']
	- var include_js = ['main.js']


block over
	.slider_block.swiper-container
		.swiper-wrapper
			each media in medias
				.slide_item.swiper-slide(data-style=media.style)
					video(autoplay=false, loop=true, muted=true, playsinline=true, controls=false, poster=media.poster, src=media.video)
					if media.holder
						.slide_holder
					if media.announce
						a.announcement_block(href=media.announce.link, data-id=media.announce._short_id)
							.announcement_title!= media.announce.i18n.title.get(locale)
							if media.announce.i18n.s_title.get(locale) != ''
								.announcement_s_title!= media.announce.i18n.s_title.get(locale)

		if medias.length > 1
			.swiper-pagination.swiper-pagination-white
			.swiper-pagination.swiper-pagination-black

		//- a.journal_open(href='#journal') журнал «Практики»


block content
	.journal_block
		.journal_title(anchor='journal') журнал
		.jounral_posts
			- var arr = new Array(10)
			each post, i in arr
				a.post_item(class= i == 3 || i == 6  ? 'blank' : '', class= i == 0 || i == 1  ? 'double' : '', href='#')
					.post_poster(style='background-image: url(/stuff/praktika/beta/t1.jpeg)')
					.post_title Масштабы турбулентности
					.post_hover
						.post_date 22.07.2018
						.post_intro Что произойдет, если налить молоко в кофе и помешать ложечкой? Может показаться, что ничего особенного: молоко разобьется на хаотичные течения и постепенно растворится в кофе.
		.journal_more еще посты...