doctype html
html
	head
		include header
	body
		.maket_block(class=content_style, class=content_banner ? 'banner' : '')

			.search_block
				.search_close
				input.search_input(type='text', placeholder= __('поиск') + '...')
				.search_results

			if content_subs
				.subs_block
					.subs_close
					input.subs_input.email(type='email', placeholder='email')
					input.subs_input.name(type='text', placeholder=__('ваше имя'))
					.subs_date
						input.subs_input.date.dd(type='text', placeholder=__('день'), pattern='[0-9]*')
						input.subs_input.date.mm(type='text', placeholder=__('месяц'), pattern='[0-9]*')
						input.subs_input.date.yy(type='text', placeholder=__('год'), pattern='[0-9]*')
					.subs_controls
						.subs_submit.active(send_await=__('ждем ответа...'), send_input=__('отправить'))= __('отправить')
						.subs_status(val_email=__('некорректный email'), val_ok=__('спасибо за подписку'), val_else=__('ошибка'))
						.subs_personal
							span=__('Отправляя форму, вы даете свое согласие на обработку персональных данных. ')
							a(href='/ppa_' + locale + '.pdf', target='_blank')= __('Подробнее...')

			.title_block
				if content_banner
					.banner_block
						.banner_inner
							a.banner_logo(href='https://www.mos.ru/kultura', target='_blank'): img(src='/stuff/praktika/logo/logo_depcult.svg')
							.banner_subs: span= __('подписаться на рассылку')
						.banner_close

				.title_inner
					.menu_block
						.menu_top
							.menu_open
							.menu_items
								a(href='/schedule')= __('билеты')
								a(href='/events')= __('репертуар')
								a(href='/contacts')= __('контакты')

							.nav_block
								a.search(href='#'): img(src='/stuff/praktika/icons/search.svg')
								a.lang(href='/lang/' + (locale == 'en' ? 'ru' : 'en'))= (locale == 'en' ? 'rus' : 'eng')

							.logo_spacer
							a.logo_block(href='/'): img(src='/stuff/praktika/logo/logo_praktika.svg')

						.menu_main
							if (session && session.user_id)
								.stargazer_block
									span: a(href='/auth') ✦ stargazer
									span: a(href='/auth/logout') ⇤ выход
							span: a(href='/schedule')= __('билеты')
							span: a(href='/events')= __('репертуар')
							span: a(href='/contacts')= __('контакты')
							span: a(href='/about')= __('о театре')
							span: a(href='/team')= __('команда')
							span: a(href='/#journal')= __('журнал')

						.menu_bottom
							.bottom_main
								a(href='/students')= __('Студентам')
								a.menu_item(href='/partners')= __('Партнеры')
								a(href='/docs')= __('Документы')
							.bottom_social
								a(href='https://www.facebook.com/Praktika', target='_blank'): img(src='/stuff/praktika/social/facebook.svg')
								a(href='https://www.instagram.com/praktika_theatre', target='_blank'): img(src='/stuff/praktika/social/instagram.svg')
								a(href='https://vk.com/praktika', target='_blank'): img(src='/stuff/praktika/social/vk.svg')
								a(href='https://soundcloud.com/praktikatheatre', target='_blank'): img(src='/stuff/praktika/social/soundcloud.svg')
								a(href='https://www.youtube.com/channel/UCwfWbMV_x38PPzw3WrnUGOg', target='_blank'): img(src='/stuff/praktika/social/youtube.svg')
								//- a(href='https://twitter.com/teatr_praktika', target='_blank'): img(src='/stuff/praktika/social/twitter.svg')
								//- a(href='tg://resolve?domain=praktika_news', target='_blank'): img(src='/stuff/praktika/social/telegram.svg')

			.over_block
				block over

			.content_block
				block content

			.under_block
				block under

				if !content_footer_hidden
					.footer_block: .footer_inner
						.footer_main
							a.logo_dep(href='https://www.mos.ru/kultura', target='_blank'): img(src='/stuff/praktika/logo/logo_depcult.svg')
							a.quality(href='https://organizations.kultura.mos.ru/organizations/gbuk_gmoskvy_eksperimentalnyi_teatralnyi_tsentr_novoi_dramy_praktika.html', target='_blank')
								img(src='/stuff/praktika/logo/likes-01.svg')
								span!= __('Оценка качества услуг учреждений культуры')
							.social_block
								a(href='https://vk.com/praktika', target='_blank'): img(src='/stuff/praktika/social/vk.svg')
								//- a(href='https://www.facebook.com/Praktika', target='_blank'): img(src='/stuff/praktika/social/facebook.svg')
								//- a(href='https://www.instagram.com/praktika_theatre', target='_blank'): img(src='/stuff/praktika/social/instagram.svg')
								a(href='https://soundcloud.com/praktikatheatre', target='_blank'): img(src='/stuff/praktika/social/soundcloud.svg')
								a(href='https://www.youtube.com/channel/UCwfWbMV_x38PPzw3WrnUGOg', target='_blank'): img(src='/stuff/praktika/social/youtube.svg')
								//- a(href='https://twitter.com/teatr_praktika', target='_blank'): img(src='/stuff/praktika/social/twitter.svg')
								//- a(href='tg://resolve?domain=praktika_news', target='_blank'): img(src='/stuff/praktika/social/telegram.svg')
								a(href='https://t.me/praktika_news', target='_blank'): img(src='/stuff/praktika/social/telegram.svg')
						.footer_under
							a.copy(href='/')= '© ' +  __('Театр «Практика»') + ' ' + new Date().getFullYear()
							.footer_right
								a.partners(href='/partners')= __('Партнеры')
								a.docs(href='/students')= __('Студентам')
								a.students(href='/docs')= __('Документы')

		include counters