doctype html
html
	head
		include header
	body
		.maket_block(class=content_style, class=content_banner && banner ? 'banner' : '')
			if content_banner && banner
				.banner_block
					a.banner_logo(href='https://www.mos.ru/kultura', target='_blank'): img(src='/stuff/praktika/logo/logo_depcult.svg')
					.banner_close

			.search_block
				.search_close
				input.search_input(type='text', placeholder= __('поиск') + '...')
				.search_results

			.title_block: .title_inner
				.panel_block
					.menu_block
						.menu_open
						if (session && session.user_id)
							span.stargazer_block
								a(href='/auth') ✦
								if content_event_id
									a(href='/admin/events/edit/' + content_event_id, target='_blank') ✑
								a(href='/auth/logout') ⇤
						.menu_items
							.items_main
								a(href='/events') репертуар и билеты
								a(href='/contacts')= __('контакты')
							.items_drop
								a(href='/team')= __('команда')
								a(href='/about')= __('о театре')
					.nav_block
						a.search(href='#'): img(src='/stuff/praktika/icons/search.svg')
						if locale == 'ru'
							a.lang(href='/lang/en') eng
						else
							a.lang(href='/lang/ru') rus
					.logo_spacer
				a(href='/'): img.logo(src='/stuff/praktika/logo/logo_praktika.svg')

			.over_block
				block over

			.content_block
				block content

			.under_block
				block under

				if !content_footer_hidden
					.footer_block: .footer_inner
						.footer_main
							a.logo_dep(href='https://www.mos.ru/kultura', target='_blank'): img(src='/stuff/praktika/logo/logo_depcult.svg')
							a.quality(href='http://old.kultura.mos.ru/organizations/gbuk_gmoskvy_eksperimentalnyi_teatralnyi_tsentr_novoi_dramy_praktika.html', target='_blank')
								img(src='/stuff/praktika/logo/likes-01.svg')
								span= __('Оценка качества услуг учреждений культуры')
							.social_block
								a(href='https://www.facebook.com/Praktika', target='_blank'): img(src='/stuff/praktika/social/facebook.svg')
								a(href='https://www.instagram.com/praktika_theatre', target='_blank'): img(src='/stuff/praktika/social/instagram.svg')
								a(href='https://vk.com/praktika', target='_blank'): img(src='/stuff/praktika/social/vk.svg')
								a(href='https://twitter.com/teatr_praktika', target='_blank'): img(src='/stuff/praktika/social/twitter.svg')
								a(href='https://t.me/praktika_news', target='_blank'): img(src='/stuff/praktika/social/telegram.svg')
						.footer_under
							a.copy(href='/')= '© ' +  __('Театр «Практика»') + ' ' + new Date().getFullYear()
							a.docs(href='/docs')= __('документы')

		include counters