extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('Студентам').toLowerCase()
	- var content_description= ''

block header_include
	- var include_css = ['students.css']
	//- - var include_js = ['students.js']


block content
	//- .students_title= __('Студентам')
	.students_title= __('Уважаемые студенты!')
	.students_content
		//- span= __('Уважаемые студенты!')
		span= __('Мы всегда рады пригласить вас на спектакли театра «Практика», когда в зале есть свободные места.')
		span!= __('Для того, чтобы попасть на спектакль, пожалуйста, на адрес <a href="mailto:podushka@praktikatheatre.ru">podushka@praktikatheatre.ru</a> напишите письмо в день показа выбранного вами спектакля, указав следующую информацию:')
		ul
			li= __('дата и время показа;')
			li= __('название спектакля, на который вы хотите попасть;')
			li= __('ваши имя и фамилия - так, как указано в студенческом билете;')
			li= __('укажите название спектакля в теме вашего письма.')

		//- span= __('Студенты могут бесплатно попасть на спектакли «Практики» при наличии такой возможности. Для этого необходимо в день спектакля написать на') + ' '
		//- a(href='mailto:podushka@praktikatheatre.ru') podushka@praktikatheatre.ru
		//- br
		//- br
		//- span= __('В течение короткого времени вам ответит администратор и сообщит о возможности посещения театра в этот день.')