extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('Студентам').toLowerCase()
	- var content_description= ''

block header_include
	- var include_css = ['students.css']
	//- - var include_js = ['students.js']


block content
	//- .students_title= __('Студентам')
	.students_title= __('Уважаемые студенты!')
	.students_content
		//- span= __('Уважаемые студенты!')
		span= __('Мы всегда рады пригласить вас на спектакли театра «Практика», когда в зале есть свободные места.')
		span!= __('Для того, чтобы попасть на спектакль, напишите письмо в день показа выбранного вами спектакля не позднее, чем за 2 часа до начала, на адрес <a href="mailto:TSRY-podushkapraktik@culture.mos.ru">TSRY-podushkapraktik@culture.mos.ru</a>, указав следующую информацию:')
		ul
			li= __('название спектакля в теме и теле письма;')
			li= __('дата и время показа;')
			li= __('ваши имя и фамилию — так, как указано в студенческом билете.')
		span= __('Администратор отвечает студентам в течение дня. Пожалуйста, не дублируйте ваше письмо, если ответ не поступил сразу — это позволит нам максимально оперативно отвечать на сообщения, так как письма рассматриваются в хронологическом порядке.')

		//- span= __('Студенты могут бесплатно попасть на спектакли «Практики» при наличии такой возможности. Для этого необходимо в день спектакля написать на') + ' '
		//- a(href='mailto:podushka@praktikatheatre.ru') podushka@praktikatheatre.ru
		//- br
		//- br
		//- span= __('В течение короткого времени вам ответит администратор и сообщит о возможности посещения театра в этот день.')