extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('команда')
	- var content_description= ''

block header_include
	- var include_css = ['team.css']
	- var include_js = ['team.js']


block content
	.members_header: .members_header_inner
		.members_title(data-title=__('команда'))= __('команда')
		.members_roles
			.role= __('все')
			each role in static_types.members_roles
				.role(data-role=role)= __n(role, 5)

	.members_list
		each member in members
			.member_item(member-id=member._short_id, data-name=member.i18n.name.get(locale), data-src=member.photo_preview): .in